logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.js
*.map
**/*.js
test/**/*.js
config/**/*.js
**/*.map
test/**/*.map
config/**/*.map
public/

!.autod.conf.js
!.eslintrc.js
!.prettierrc.js
!.commitlint.js
!app/assets/**/*.js
nebula-go-api/nebula-go-api
nebula-go-api/tmp
scripts/data/
typings
!typings/index.d.ts
docker/data
docker/tmp
.travis.yml
appveyor.yml
