.nebula-chart-space {
	padding: 12px 0;
	overflow: auto;
	> .tip{
		height: 30px;
		color: #a5a2a2;
		padding: 5px 0;
		font-size: 12px;
		text-align: left;
	}
	> .space-bar {
		> .description {
			font-size: 12px;
			text-align: left;

			> span + span {
				margin-left: 20px;
			}
		}

		> .wrap {
			display: flex;
			width: 100%;
			height: 30px;
			margin-top: 8px;


			> .bar-item {
				display: flex;

				> .left {
					flex: 1;
					opacity: 0.3;
					height: 100%;
				}

				> .right {
					width: 5px;
					height: 100%;
				}
			}

			> .empty {
				flex: 1;
				background: #ecf0ff;
				opacity: 0.3;
			}

			> p {
				padding-left: 12px;
				width: 66px;
				line-height: 30px;
				font-size: 18px;
				font-weight: 400;
				text-align: left;
			}
		}
	}

	> .space-bar + .space-bar {
		margin-top: 12px;
	}
}
