.service-content {
	background-color: #fff;
	margin-bottom: 20px;

	.service-list {
		padding: 24px 20px;

		.wrap {
			display: flex;
			flex-wrap: nowrap;
			overflow-x: scroll;
		}

		.service-overview,
		.service-item {
			padding: 8px 12px 22px;
			border-radius: 3px;
			width: 250px;
			height: 204px;
			flex-shrink: 0;
		}

		.wrap > div:not(:last-child) {
			margin-right: 20px;
		}

		.title {
			display: flex;
			justify-content: space-between;

			.name,
			.status {
				display: flex;
				align-items: center;
			}

			.status > svg {
				width: 18px;
				height: 18px;
			}

			span {
				font-size: 12px;
				padding-left: 6px;
			}
		}

		.grid {
			display: grid;
			justify-content: flex-start;
			grid-template-columns: repeat(auto-fill, 280px);
			grid-gap: 20px;

			.service-overview,
			.service-item {
				width: 280px;
				margin-right: 0;
			}
		}
	}
}
