.machine-dashboard {
	height: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;

	> .ant-row {
		flex: 1;

		.dashboard-card {
			height: 100%;

			.nebula-chart-line {
				height: 100%;
			}
		}
	}
}

.modal-baseLine {
	.ant-modal-header {
		visibility: hidden;
	}

	.ant-modal-body {
		text-align: center;

		.ant-form-item-label {
			padding-right: 10px;
			text-align: right;
			width: 150px;
		}

		.ant-form-item-control {
			text-align: left;

			.ant-input-number {
				margin-right: 5px;
			}
		}

		.ant-btn {
			margin: 10px;
		}
	}
}
