.machine-dashboard {
	padding: 0 10px 20px 20px;
	height: 100%;
	overflow-y: auto;

	.dashboard-card {
		min-height: 200px;
		margin: 10px 10px 0 0;
	}
}

.average-card {
	position: relative;

	> .nebula-chart-area {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	> .nebula-chart-gauge {
		position: relative;
		z-index: 100;
	}
}

.detail-card {
	min-height: 300px;
	max-height: 500px;
	padding: 0 17px;
	overflow: auto;
}
