.dashboard-detail {
	background: #fff;
	padding: 20px 30px;

	> .title {
		display: flex;

		> h3 {
			font-size: 18px;
			font-weight: 400;
			flex: 1;
		}

		> .ant-select {
			width: 134px;
			height: 34px;
		}
	}

	> .detail-content {
		margin-top: 100px;
	}
}
