.ant-spin-nested-loading.machine-detail {
	height: 100%;

	.ant-spin {
		position: absolute;
		left: 50%;
		top: 80px;
		transform: translate(-50%, 50%);
	}

	> .ant-spin-container {
		height: 100%;
	}
}

.machine-modal {
	.ant-modal-header {
		visibility: hidden;
	}
}
