@import '@assets/common.less';

html body {
	height: 100%;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

.ant-dropdown-menu-item i {
	margin-right: 4px;
}

.ant-modal-close-x {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

#app {
	height: 100%;

	> .ant-spin-nested-loading {
		height: 100%;

		> .ant-spin-container {
			height: 100%;
		}
	}

	> .ant-layout {
		height: 100%;
	}
}

.blue {
	fill: @blue;
	color: @blue;
}

.pink {
	fill: @pink;
	color: @pink;
}

.skyblue {
	fill: @skyblue;
	color: @skyblue;
}

.green {
	fill: @green;
	color: @green;
}

.red {
	fill: @red;
	color: @red;
}

.yellow {
	fill: @yellow;
	color: @yellow;
}

.left {
	float: left;
}

.right {
	float: right;
}

.bg-green {
	background-color: @green;
}

.bg-yellow {
	background-color: @yellow;
}

.bg-red {
	background-color: @red;
}

.bg-blue {
	background-color: @blue;
}

.bg-pink {
	background-color: @pink;
}

.bg-skyblue {
	background-color: @skyblue;
}

.flex {
	display: flex;
}
