@import '@/common.less';
@import '../index.less';

.service-info {
	.ant-table {
		.online {
			color: #29c377;
		}

		.offline {
			color: #e25f5f;
		}

		.ant-table-summary {
			.ant-table-cell {
				color: @blue;
			}
		}
	}
	.partition-table, .leader-table{
		max-height: 350px;
		overflow: auto;
	}
	.balance-data{
		justify-content: flex-end;
	}
}
